body {
      font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
    transition: background-color .5s;
    height: 100%
  }
  
  .sidenav {
    min-height: 100%;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:darkgray;
    overflow-x: hidden;
    transition: 0.5s;
    position: fixed;
    margin-top: 71px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #585757;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: relative;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
    background-color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  }
  
  @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  }

  #icon{
    font-size:30px;
    cursor:pointer;
    color: white
  }

  #map {
    height: 100%;
  }

  ul {
    padding: 0%;
    width: 100%;
  }

  #mySidenav{
    height: 100%;
  }

  #filter{
    width: 100%;
    height: 45px;
    font-size: 15px;
  }

  .title{
    text-align: center;
  }

  .link{
    padding-top: 5px;
    padding-bottom: 15px;
    font-weight: bold
  }

  img{
    padding-right: 10px
  }

  #source{
    font-weight: bold;
    padding-top: 5px
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }

  .box {
    width: 100%;
  }
  .box20 {
    width: 20%;
  }
  .box80 {
    width: 80%;
  }
  .box0{
    width: 0px
  }

  .open{
    width: 250px
  }

  #myMap{
    height: 90%;
    position: absolute;
  }
  #title{
    color: white;
    padding: 0px;
    width: 100% ;   
    text-align: center;
    letter-spacing: 5px;
  }

  .nav_item{
    border-bottom: 1px solid #979797
  }



  @media screen and (min-width: 950px) {
    #icon{
      visibility: hidden;
      width: 0%;
    }
    #title{
      width: 100%;
    }
    .nav {
      width: 20%;
    }
    .map{
      width: 80%
    }
    #myMap{
      margin-left: 20%;
    }
    #infoWindow{
      max-width: 650px;
    }
}

  @media screen and (max-width: 949px) {
    #icon{
      width: 10%;
    }
    #title{
      width: 90%;
    }
    .nav {
      width: 0%;
    }
    .map{
      width: 100%
    }
    .open{
      width: 35%
    }
    #myMap{
      margin-left: 0%;
    }
    #infoWindow{
      width: 300px;
      height: 200px;
      overflow-y: visible
    }
    #title{
      letter-spacing: 2px;
    }
  }